# ADIOS I/O scheduler (CachyOS custom) for UFS storage
ACTION=="add|change", KERNEL=="sd[a-z]", ATTR{queue/rotational}=="0", ATTR{queue/scheduler}="adios"
