# Performance when charging, schedutil on battery
SUBSYSTEM=="power_supply", ATTR{status}=="Charging", RUN+="/bin/sh -c 'for g in /sys/devices/system/cpu/cpu*/cpufreq/scaling_governor; do echo performance > $g; done'"
SUBSYSTEM=="power_supply", ATTR{status}=="Discharging", RUN+="/bin/sh -c 'for g in /sys/devices/system/cpu/cpu*/cpufreq/scaling_governor; do echo schedutil > $g; done'"
